

body {
    /* background: url('img/bg.jpg') 50% no-repeat fixed; */
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(90deg, #fcffd5 0%, #caf3ff 23%, #fcffdf 61%, #ffe7ec 100%); */
    /* background-image: linear-gradient(90deg, #e2f3f8 0%, #ffe4ed 100%); */


    background-size: cover;
    color: #fff;
    height: 100vh;
    margin:0;
    padding:0;
  }
  
  .window {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    width: 800px;
    /* margin:auto;
    margin-top:20px; */
    margin: 100px auto;
    overflow:hidden;
    border:1px solid #C1C2C2;
    /* position: fixed; */
  }
  
  .inside {
    background:#fff;
    overflow:hidden;
    /* padding:10px; */
    padding-bottom:-5px;
  }
  .inside .blok {
    width:32%;float:left;margin-right:1.5%;
    height:50px;
    background:#efefef;
  }
  .top {
    padding:0.3646vw 0;
    position:relative;
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(3%, #E9E9E9), color-stop(100%, #d8d8d8));
    background: -webkit-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -o-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -ms-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: linear-gradient(to bottom, #E9E9E9 3%, #d8d8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d8d8d8', GradientType=0 ); 
    
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
    box-shadow:         inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);  
    
    overflow:hidden;
    border-bottom:2px solid #BDBCC1;
  }
  
  .top > div {
    float:left;
  }
  
  
  .panel {
    padding-left:0.4688vw;
    padding-top:0.1042vw;
  }
  
  .panel > span {
    display:inline-block;
    float:left;
    width:0.6250vw;
    height:0.6250vw;
    margin-right:0.3646vw;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
    cursor:pointer;
  
  }
  
  .panel span.first {
    background:#FF5F4F;
  }
  
  .panel span.second {
    background:#F9C206;
  }
  
  .panel span.third {
    background:#19CC32;
  }
  
  
  .nav {
    overflow:hidden;
  }
  
  .nav > span {
    display:inline-block;
    float:left;
    background:#FBFBFB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    height:23px;
    padding:0 8px;
    cursor:pointer;
    color:#B4B4B4;
    border-bottom:1px solid #CECECE;
  }
  .nav > span:hover {
    background:#f2f2f2;
    color:#666;
  }
  .nav > span i.fa {
      font-size:23px;
  }
  
  .nav span.active {
    color:#707070;
  }
  
  .nav span.prev {
    margin-right:1px;
    margin-left:7px;
  }
  
  .nav span.next {
    margin-right:7px;
  }
  
  .nav span.set i {
    font-size:14px;
    position:relative;
    top:3px;
  }
  
  .nav span.address {
    width:400px;
    margin-left:75px;
    display:inline-block;
    background:#fff;
    line-height:23px;
    padding:0;
    text-align:center;
    position:relative;
  }
  .nav span.address > input {
    font-size:12px;
    color:#505050;
    border:none;
    background:none;
    text-align:center;
    position:relative;
    width:300px;
  }
  
  .nav span.address > input:focus {
    outline:none;
  }
  
  .nav span.address > input.class {
    text-align:left;
  }
  
  
  
  .nav span.address > i.fa {
    position:absolute;
    right:5px;
    top:7px;
    font-size:11px;
    color:#010101;
  }
  
  .nav.right {
    float:right !important;
    margin-right:35px;
  }
  
  .nav span.share {
    margin-right:7px;
  }
  .nav span.share > i.fa {
    font-size:11px;
    position:relative;
    top:2px;
  }
  
  .nav span.tabs {
    position:relative;
    width:26px;
    padding:0;
  }
  
  .nav span.tabs span {
    height:7px;
    width:7px;
    border:1px solid #B4B4B4;
    display:inline-block;
    position:absolute;
    background:#FBFBFB;
  }
  
  .nav span.tabs span.front {
    top:8px;
    left:6px;
    z-index:6;
  }
  
  .nav span.tabs span.behind {
    top:6px;
    left:8px;
    z-index:5;
  }
  
  .nav span.tabs:hover span {
    border:1px solid #666;
  }
  
  span.new {
    cursor:pointer;
    position:absolute;
    right:0;
    bottom:0;
    background:#CACACA;
    width:23px;
    height:23px;
    text-align:center;
    line-height:23px;
    border-top:1px solid #C1C2C2;
    border-left:1px solid #C1C2C2;
  }
  
  span.new:hover {
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  }
  span.new .plus {
    position:absolute;
    background:#b0b0b0;
    display:inline-block;
  }
  
  span.new .plus.x {
    height:1px;
    width:14px;
    top:12px;
    right:0;
    left:0;
    margin:auto;
  } 
  
  span.new .plus.y {
    height:14px;
    width:1px;
    bottom:0;
    top:0;
    margin:auto;
    
  } 

  video {
      width: 100%;
  }

  /* .win01 {
    width: 48.4021vw;
    top: 10.6771vw;
    left: 19.4354vw;
}

.win02, .win02 img{
    width: 16.7188vw;
    left: 66.1458vw;
    top: 12.3672vw;
    z-index: 100;
}

.win03, .win03 img{
  width: 16.7188vw;
  left: 59.4271vw;
  top: 19.3984vw;
    z-index: 99;
}

.win04, .win04 img{
  width: 16.7188vw;
  left: 55.3646vw;
  top: 16.3255vw;
}

.win05, .win05 img{
  width: 10.1042vw;
  left: 45.9896vw;
  top: 34.0104vw;
}

.win06, .win06 img{
  width: 19.5833vw;
  left: 14.5833vw;
  top: 32.4479vw;
}

.win07, .win07 img{
  width: 13.4375vw;
  left: 14.5833vw;
  top: 14.6354vw;
} */

  @media screen and (max-width: 1500px) {
    /* .win02, .win02 img{
        width: 321px;
        left: 1000px;
        top: 237.45px;
    } */
  }
  
  .window, .window img {
    width: 800px;
  }

  .header-ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.8); */
      font-family: 'Archivo Black', sans-serif;

    /* background-color: #fff; */
}
.header-ring marquee {
    width: 100%;
    /* color: black; */
    position: fixed;
    letter-spacing: 0.1rem;
}

.flex {
  display: flex;
  /* align-items: center; */
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbs {
  margin:0px auto;
  /* border: 1px solid black; */
}
.thumb {
  margin: 100px auto;
}

#container {
  margin: 300px auto;
  width: 80%;
}

.thumb img {
  width: 300px;
  display: none;
}

.left {
  position: fixed;
  width: 300px;
  height: 100vh;
  left:0;
  top:0;
  margin : 0px 30px;

}
.left2 {
  position: fixed;
  width: 250px;
  /* height: 100vh; */

  right:0;
  top:0;
  margin : 50px 20px;

}
.right {
  margin-left:300px;
  margin-bottom:300px;
  margin-top:0px;
  overflow: scroll;
  /* border-left: 1px solid black; */

}

ul {
  list-style-type: none;
  text-align: center;
}
ul li {
  margin-bottom: 40px;
  font-size: 14px;
  width: 200px;
}

#logo {
  position: fixed;
  top:40%;
  left: 25px;
  /* left: 100px;
  top: 200px; */
  width: 400px;
  margin-left: -30px;
  z-index: 100;
}

a:link, a:visited {
  text-decoration: none;
  color:#fff;
}
a:hover, a:active {
  /* color: white; */
  text-decoration: line-through;
}

::-moz-selection { /* Code for Firefox */
  /* color: #0D45BB; */
  background: yellow;
}

::selection {
  /* color: #0D45BB; */
  background: yellow;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  z-index: -1;
}
.top2 {
  position: fixed;
  top:0px;
  left:0;
  width: 300px;
  height: 100%;
  z-index: 100;
  margin-left: 50px;
  padding-top:50px;
  margin-left: 20px;
  overflow: scroll;
}
.folder {
  /* position: fixed; */
  /* text-align: center; */
  margin-bottom:30px;
  margin-left: 50px;
}
.folder p, #folder p {
  font-size: 28px;
  text-transform: uppercase;
  /* width: 200px; */
  margin-top: -10px;
}
#folder {
  position: fixed;
  bottom:0px;
  right: 65px;
}
/* .folder1 {
  top:100px;
  left:50px;
}
.folder2 {
  top:200px;
  left:180px;
}
.folder3 {
  top:400px;
  left:55px;
} */
#folder{
  display: none;
  /* position: fixed; */
}

@media (max-width:768px) {

  #folder {
    display: inline-block;
    position: fixed;
    /* top:90%; */
    /* right:40%; */
    z-index: 100;
    cursor: pointer;

  }
  #folder p {
    /* margin-top: -10px; */
    
  }

  #nav {
      display: none;
      
      width: 100%;
      z-index: 100;
      background-color: #000;
      /* height: 120vh; */
      padding-bottom:100px;
  

  }
  .top2 {
    margin-top: 100px;
  }
  .right {
    margin-left:0;
  }
  .left2 {
    position: fixed;
    left:0px;
    z-index: 90;
  }
  .window, .window img {
      width: 380px;
      text-align: center;
  }
  .thumb-image {
      width: 380px;

  }
  .thumb-images {
      display: inline-block;
  }
  .section-images img {
      /* max-width: 1000px; */
      width: 380px;
      margin-bottom: 100px;
  }

  #logo {
      position:fixed;
      top:30%;
      left:18%;
      z-index: -1;
      width: 400px;
  }
}